body{
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.nav{
     display: flex;
    list-style: none;
     gap: 32px;
      margin: 0;
    padding: 0;
    font-weight: 400;
}
.nav_menu a {
    text-decoration: none;
    font-size: 16px;
line-height: 175%;
color: #2f281e;
}
.nav li:first-child a {
    color: #f90;
}
.btn_in{
border: 1px solid #bcd0e5;
border-radius: 4px;
padding: 13px 25px;
width: 110px;
height: 46px;
font-weight: 600;
font-size: 16px;
color: #2f281e;
}
.btn_up{
    border: 0;
border-radius: 4px;
width: 110px;
height: 46px;
background: #f90;
font-weight: 600;
font-size: 16px;
color: #fff;
}
h1{
font-weight: 700;
font-size: 44px;
line-height: 123%;
color: #2f281e;
}
p{
    font-size: 18px;
    color: #544837;
}
.btn_get{
    border: 0;
    border-radius: 4px;
padding: 13px 40px;
width: 180px;
height: 50px;
background: #f90;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;
text-align: center;
color: #fff;
}
 h2{
font-weight: 700;
font-size: 36px;
text-align: center;
color: #2f281e;
 }   
 .card {
    display: flex;
    list-style: none;
    justify-content : center;
    align-items: center; 
    margin-top: 30px;
    gap: 40px;
    margin-bottom: 40px;
 }
 .background{
background-image: url(./img/bg.jpg);
background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
  padding: 50px 0; 
 }
 .btn_signup{
    display: block; 
     margin: 0 auto;  
     border-radius: 4px;
     border: 0;
padding: 13px 40px;
width: 180px;
height: 50px;
background: #f90;
font-size: 16px;
text-align: center;
color: #fff;
font-family: "Poppins", sans-serif;
font-weight: 700;
 }
.section{
    display: flex;
justify-content: space-around;
margin-top: 40px;
margin-bottom: 100px;
align-items: center;
}
.features{
height: 495px;
gap: 40px;
}
.benefits{
height: 573px;
gap: 113px;
}
.marketers{
    height: 610px;
    gap: 174px;
}
.footer{
    display: flex;
   justify-content: space-between;
}
.product-managers{
    flex-direction: row-reverse;
height: 520px;
gap: 125px;
}
.section-title{

}
.list-reset{
    list-style: none;
    padding: 0;
  
}
.section-text-img{
  display: flex;
  align-items: center; 
  gap: 15px;
}