@import url('./fonts.css');
@import url('./vars.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
}
html,
body {
    min-height: 200vh;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    color: #000;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
display: flex;
 justify-content: center;
 gap: 30px;
}
.header{
    width: 100%;
    padding: 13px 0;
    position: fixed;
    z-index: 1;
    background-color: white;

}
.sidebar{
flex-shrink: 0;
width: 385px;
}
.sidebar {
    position: sticky;
    top: 100px;          
    align-self: flex-start;
    width: 385px;
    flex-shrink: 0;
    height: fit-content;
}
.main {
    padding-top: 100px;
}
.aside-menu__link{
    font-family: "Francois";
font-weight: 400;
font-size: 36px;
line-height: 133%;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #000;
}
.aside-menu__item:not(:first-child):not(:last-child) {
    margin-top: 70px;
    margin-bottom: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px; 
}
.menu {
    display: flex;   
    list-style: none;    
    padding-left: 15px;
    margin: 0;
    gap: 20px;           
}

.logo{
    margin-left: auto;
}
ul{
    padding-left: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.lang__link {
    font-family: "Tourney";
    font-size: 22px;
}

.menu__link{
    font-family: "Staatliches";
    font-size: 22px;
    text-transform: uppercase;
}
.aside-menu__item{
     border-bottom: 1px solid #bdbdbd;
}
.title{
    font-family:'Francois';
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}
.title::before{
    content:'' ;
position: absolute;
top: -20px;
left: 0;
width: 100px;
height: 8px;
background: #000;
}
sup {
font-family:'Farro';
font-size: 20px;
letter-spacing: 0.04em;
font-weight: 300;
text-transform:none;
}
.chapter__text{
    font-family: 'PT Sans';
    font-weight: 400;
font-size: 28px;
line-height: 171%;
margin: 40px 0;
}
.chapter_sans{
    font-family: 'PT Sans';
    font-style: italic;
}
.chapter_bolt{
    font-family: 'PT Sans';
    font-weight: 700;
}
.bg{
background: #dadada;
}
.content {
    position: relative;
}

.content::before {
    content: "";
    position: fixed;   
    top: 100px;         
    left: 50%;
    transform: translateX(100px); 
    width: 760px;
    height: 760px;
    background-image: url("../assets/img/bg_picture.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;      
}
