:root {
	--background-blue: #2b81ac;
  --font-family: "Lucida Sans Unicode", sans-serif;
  --second-family: "Weather Icons", sans-serif;
}
body {
    width: 1216px;
    height: 900px;
border: 25px solid #2b81ac;
background: #39c;
font-family: "Lucida Sans Unicode", sans-serif;
font-weight: 400;
font-size: 22px;
text-align: justify;
color: #fff;
box-sizing: border-box;
 padding: 60px 115px; 
margin: 20px auto;

}
h1{
    width: 1166px;
height: 34px;
font-weight: 400;
font-size: 21px;
color: #fff;
text-align: left;
margin: 0 20px auto;
padding: 0;
}
.items {
     height: 588px;
    list-style: none;
    margin: 0 20px auto;
    padding: 0;
    font-size: 0;
    background-color: #ccc;
}
.items li {
    display: inline-block;
    vertical-align: top; 
    font-size: 22px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    height: 147px; 
    border: 2px solid #fff;
    background-color: #3498db;
    color: white;
    line-height: 73px; 
}
.item_full {
    width: 100%;
    height: 147px;
}

.item_half {
    width: 50%;
    height: 147px;
}

.item_quarter {
    width: 25%;
    height: 147px;
}
.items .Lisabon{
background: #39c;
opacity: 0.7;
}
.items .Paris{
    background: #3cc;
    opacity: 0.7;
}
.items .Belgrade{
    background: #969;
    opacity: 0.7;
}
.items .Venice {
    background: #c24747;
    opacity: 0.7;
}
.items .Tel-Avive{
background: #e2674a;
opacity: 0.7;
}
.items .Cair{
    background: #fc6;
    opacity: 0.7;
}
.items .New-York{
background: #9c9;
opacity: 0.7;
}
.items .New-Delhi{
    background: #699;
opacity: 0.7;
}
.items .San-Francisco{
background: #c69;
opacity: 0.7;
}
.items .Tokio {
background: #396;
opacity: 0.7;
}
.items .Sidney{
background: #669;
opacity: 0.7;
}
.weather-footer{
    font-weight: 400;
font-size: 16px;
color: #fff;
padding-left: 18px;
}
.wi {
    padding-left: 5px;
}