
.form{
    margin: 40px auto 0;
    width: 400px;
    padding: 10px;
    background: yellowgreen;
    line-height: 1.5;
    font-size: 24px;
    border: 3px solid rgb(213, 220, 18);
    text-align: center;
}
 input{
        margin: 0 10px;
        border-radius: 5px;
    }

