* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.hero {
  background: url(../assets/img/HeaderBackground.png) no-repeat center top/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.hero_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .hero_title {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .hero_title {
    font-size: 28px;
    letter-spacing: 2px;
  }
}
.hero_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0.31px;
  font-weight: 700;
  font-weight: 400;
  line-height: 127%;
  letter-spacing: 0.31em;
  line-height: 1.27;
  color: #fff;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .hero_subtitle {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .hero_subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}
.hero_search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  padding: 5px;
  background: #ffffff;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero_search {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .hero_search {
    padding: 3px;
  }
}
.hero_input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Aleo", serif;
  min-width: 0;
  margin-right: 4px;
}
.hero_input:focus {
  background-color: rgb(213, 211, 211);
}
.hero_input:focus::placeholder {
  opacity: 0.7;
}
@media (max-width: 576px) {
  .hero_input {
    font-size: 12px;
    padding: 10px 12px;
  }
}
.hero_input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.31em;
  font-weight: 700;
  color: #999;
  text-transform: none;
  opacity: 1;
}
@media (max-width: 576px) {
  .hero_input::placeholder {
    font-size: 11px;
    letter-spacing: 0.05em;
  }
}
.hero_button {
  width: 150px;
  height: 50px;
  gap: 10px;
  background: #5373fd;
  color: #fff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero_button:hover {
  background-color: #5474fd;
}
.hero_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}
@media (max-width: 576px) {
  .hero_button {
    width: 110px;
    height: 40px;
    font-size: 12px;
  }
}
.hero-icon {
  width: 16px;
  height: auto;
}
.hero_img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}
@media (max-width: 576px) {
  .hero_img {
    width: 12px;
  }
}
.hero_scroll {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.hero_scroll-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-weight: 400;
  line-height: 143%;
  text-align: center;
}
@media (max-width: 576px) {
  .hero_scroll-text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .hero_scroll {
    bottom: 60px;
  }
}
@media (max-width: 576px) {
  .hero_scroll {
    bottom: 30px;
  }
}

.header {
  background: #5373fd;
  padding: 32px 0;
  position: relative;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header_inner {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .header_inner {
    flex-direction: row;
    justify-content: flex-end;
    gap: 130px;
  }
}
.header_logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header_logo {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .header_logo {
    margin-bottom: 0;
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  letter-spacing: 10%;
}
.menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.menu__link:hover {
  opacity: 0.7;
}
@media (max-width: 576px) {
  .menu {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    background: #5373fd;
    flex-direction: column;
    text-align: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all;
  }
}

.nav__burger {
  display: none;
}
@media (max-width: 576px) {
  .nav__burger:checked ~ .nav_mobile-btn {
    transform: rotate(587deg);
    transition: all 0.5s;
  }
  .nav__burger:checked ~ .nav_mobile-btn::before {
    opacity: 0;
  }
  .nav__burger:checked ~ .nav_mobile-btn::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav__burger:checked ~ .menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    gap: 24px;
    padding-bottom: 32px;
  }
}
.nav_mobile-btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .nav_mobile-btn {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #fff;
  }
  .nav_mobile-btn::before, .nav_mobile-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 10px;
  }
  .nav_mobile-btn::after {
    top: -10px;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.choice {
  padding: 100px 0;
  background: url(../assets/img/WhyBackground.png) no-repeat center/cover;
}
.choice_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 136px;
}
@media (max-width: 768px) {
  .choice_inner {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.choice_content {
  flex: 0 1 540px;
}
@media (max-width: 768px) {
  .choice_content {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
  }
}
.choice_title {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .choice_title {
    font-size: 28px;
  }
}
.choice_text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 25px;
  opacity: 0.6;
}
.choice_btn {
  background: #5373fd;
  color: #fff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.choice_btn:hover {
  background-color: #5474fd;
}
.choice_btn {
  margin-top: 15px;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 20px 31px;
}
.choice_images {
  flex: 1;
  position: relative;
  height: 456px;
  max-width: 550px;
}
@media (max-width: 1024px) {
  .choice_images {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .choice_images {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .choice_images {
    height: 320px;
  }
}
.choice_img {
  width: 350px;
  height: 220px;
  object-fit: cover;
  position: absolute;
}
.choice_img--top {
  top: 0;
  left: 0;
  z-index: 1;
}
.choice_img--bottom {
  bottom: 0;
  right: 0px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .choice_img {
    width: 300px;
    height: 190px;
    position: static;
  }
}
@media (max-width: 768px) {
  .choice_img {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .choice_img {
    width: 250px;
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .choice_img--bottom {
    right: 0;
  }
}

.steps {
  background-color: #333;
}
@media (max-width: 768px) {
  .steps {
    padding: 60px 0;
  }
}
.steps_inner {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: flex-start;
  position: relative;
  padding-top: 123px;
  background: url("../assets/img/Line.svg") no-repeat center 60px;
  background-size: 872px 90px;
  background-color: #333;
}
@media (max-width: 1024px) {
  .steps_inner {
    background-size: 70% auto;
  }
}
@media (max-width: 768px) {
  .steps_inner {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    background: none;
    gap: 50px;
    background-size: 100% auto;
  }
}
.steps_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 424px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding-bottom: 60px;
}
.steps_item-magenta .steps_icon img {
  filter: invert(28%) sepia(85%) saturate(2334%) hue-rotate(225deg) brightness(98%) contrast(101%);
}
.steps_item-red .steps_icon img {
  filter: invert(47%) sepia(50%) saturate(2758%) hue-rotate(325deg) brightness(101%) contrast(92%);
}
.steps_item-blue .steps_icon img {
  filter: invert(51%) sepia(90%) saturate(3015%) hue-rotate(175deg) brightness(101%) contrast(101%);
}
@media (max-width: 1024px) {
  .steps_item {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .steps_item {
    flex: 0 0 auto;
    padding-bottom: 0;
    width: 100%;
    max-width: 300px;
  }
}
.steps_icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transition: transform 0.3s;
  background-color: #333;
}
.steps_icon:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .steps_icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1024px) {
  .steps_icon {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .steps_icon {
    font-size: 24px;
  }
}
.steps_title {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin: 0;
}

.booking {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.booking-left .booking_card {
  justify-content: flex-start;
}
.booking-right .booking_card {
  justify-content: flex-end;
}
.booking_card {
  min-height: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
.booking_content {
  background: rgba(35, 35, 35, 0.9);
  padding: 32px;
  max-width: 550px;
  color: #fff;
}
.booking_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-weight: 300;
  display: block;
  opacity: 0.6;
  padding-bottom: 16px;
}
.booking_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 140%;
  margin-bottom: 16px;
  font-weight: 400;
}
.booking_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 175%;
  display: block;
  opacity: 0.6;
}
.booking_btn {
  background: #5373fd;
  color: #fff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.booking_btn:hover {
  background-color: #5474fd;
}
.booking_btn {
  padding: 20px 32px;
  width: 213px;
  height: 60px;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.choice_btn,
.booking_btn {
  background: linear-gradient(45deg, #5474fd 40%, #6782fb 40%, #6782fb 55%, #5474fd 55%);
  transition: background-position 0.6s ease, transform 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  background-size: 300% 100%;
  background-position: 0% 0%;
}
.choice_btn:hover,
.booking_btn:hover {
  background-position: 100% 0%;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(84, 116, 253, 0.4);
}
.choice_btn:active,
.booking_btn:active {
  transform: translateY(0);
}

.reviews {
  padding: 120px 0;
  background: url("../assets/img/BG.png") no-repeat center top/cover;
  text-align: center;
  color: #fff;
}
.reviews_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Aleo", serif;
  margin-bottom: 80px;
  line-height: 1.11;
  font-weight: 400;
  text-transform: capitalize;
}
.reviews_card {
  display: flex;
  margin: 0 auto;
  background: #333;
  align-items: stretch;
  text-align: left;
}
@media (max-width: 768px) {
  .reviews_card {
    flex-direction: column;
  }
}
.reviews_image {
  flex: 0 0 40%;
}
.reviews_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.reviews_content {
  padding: 50px 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews_name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.reviews_quote {
  position: relative;
  padding-left: 0;
}
.reviews_quote-icon {
  float: left;
  margin-right: 12px;
  margin-top: 5px;
  width: 16px;
  height: auto;
  filter: invert(44%) sepia(69%) saturate(3681%) hue-rotate(216deg) brightness(101%) contrast(100%);
}
.reviews_text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.1em;
  color: #fff;
  opacity: 0.8;
}

.footer {
  background-color: #000;
  padding: 80px 0;
  color: #fff;
}
.footer_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer_logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.footer_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 10px;
}
.footer_socials {
  display: flex;
  gap: 32px;
  align-items: center;
}
.footer_social-link {
  transition: opacity 0.3s ease;
}
.footer_social-link img {
  max-width: 36px;
  max-height: 32px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}
.footer_social-link:hover {
  filter: invert(44%) sepia(69%) saturate(3681%) hue-rotate(216deg) brightness(101%) contrast(100%);
}/*# sourceMappingURL=main.css.map */