@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin title-style($size, $ls: 5px) {
    font-family: 'Josefin Sans', sans-serif;
    font-size: $size;
    letter-spacing: $ls;
    font-weight: 700;
}

@mixin blue-button {
    background: #5373fd;
    color: #fff;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #5474fd;
    }
}