@use 'mixins' as *;
$step-colors: (
    "magenta": invert(28%) sepia(85%) saturate(2334%) hue-rotate(225deg) brightness(98%) contrast(101%),
    "red": invert(47%) sepia(50%) saturate(2758%) hue-rotate(325deg) brightness(101%) contrast(92%),
    "blue": invert(51%) sepia(90%) saturate(3015%) hue-rotate(175deg) brightness(101%) contrast(101%)
);
$accent-blue-filter: invert(44%) sepia(69%) saturate(3681%) hue-rotate(216deg) brightness(101%) contrast(100%);
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 576px;

@mixin media-to($size) {
    @media (max-width: $size) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.hero {
    background: url(../assets/img/HeaderBackground.png) no-repeat center/cover;
    @include flex-center(column);
    height: 100vh;
    padding: 0 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &_title {
        @include title-style(48px, 0);
        text-transform: uppercase;
        color: #fff;
        width: 100%;


        @include media-to($bp-laptop) {
            font-size: 38px;
        }

        @include media-to($bp-mobile) {
            font-size: 28px;
            letter-spacing: 2px;
            padding-bottom: 8px;
        }
    }

    &_subtitle {
        @include title-style(22px, 0.31px);
        font-weight: 400;
        line-height: 127%;
        letter-spacing: 0.31em;
        line-height: 1.27;
        color: #fff;
        margin-bottom: 48px;

        @include media-to($bp-laptop) {
            font-size: 18px;
            margin-bottom: 30px;
        }

        @include media-to($bp-mobile) {
            font-size: 14px;
            letter-spacing: 0.1em;
        }
    }

    &_search {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 650px;
        padding: 5px;
        background: #ffffff;
        margin: 0 auto;

        @include media-to($bp-tablet) {
            max-width: 500px;
        }

        @include media-to($bp-mobile) {
            max-width: 90%;
            padding: 3px;
        }
    }

    &_input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 15px 20px;
        font-size: 14px;
        font-family: 'Aleo', serif;
        min-width: 0;
        margin-right: 4px;


        &:focus {
            background-color: rgb(213, 211, 211);

            &::placeholder {
                opacity: 0.7;
            }
        }

        @include media-to($bp-mobile) {
            font-size: 12px;
            padding: 10px 12px;
        }

        &::placeholder {
            @include title-style(14px, 0.31em);
            color: #999;
            text-transform: none;
            opacity: 1;

            @include media-to($bp-mobile) {
                font-size: 11px;
                letter-spacing: 0.05em;
            }

        }
    }

    &_button {
        width: 150px;
        height: 50px;
        gap: 10px;
        @include blue-button;
        @include flex-center;
        flex-shrink: 0;
        transition: transform 0.2s ease;

        @include media-to($bp-mobile) {
            width: 110px;
            height: 40px;
            font-size: 12px;
        }
    }

    &-icon {
        width: 16px;
        height: auto;
    }

    &_img {
        width: 16px;
        height: 16px;
        filter: brightness(0) invert(1);

        @include media-to($bp-mobile) {
            width: 12px;
        }
    }

    &_scroll {
        position: absolute;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        @include flex-center(column);
        gap: 4px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;


        &-text {
            @include title-style(14px, 0.2em);
            font-weight: 400;
            line-height: 143%;
            text-align: center;

            @include media-to($bp-mobile) {
                font-size: 12px;
            }
        }

        @include media-to($bp-tablet) {
            bottom: 60px; // Піднімаємо вище на планшетах
        }

        @include media-to($bp-mobile) {
            bottom: 30px;
        }
    }
}

.header {
    background: #5373fd;
    padding: 32px 0;
    position: relative;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-to($bp-mobile) {
            justify-content: flex-end;
            gap: 135px;
        }
    }

    &_logo {
        font-family: "Josefin Sans", sans-serif;
        font-size: 24px;
        letter-spacing: 4px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
    }
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 35px;

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        transition: opacity 0.3s;
    }

    &__link:hover {
        opacity: 0.7;
    }

    @include media-to($bp-mobile) {
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        background: #5373fd;
        flex-direction: column;
        text-align: center;
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s all;
    }
}

.nav {
    &__burger {
        display: none;

        @include media-to($bp-mobile) {
            &:checked~.nav_mobile-btn {
                transform: rotate(587deg);
                transition: all 0.5s;

                &::before {
                    opacity: 0;
                }

                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }

            &:checked~.menu {
                top: 100%;
                opacity: 1;
                visibility: visible;
                gap: 24px;
                padding-bottom: 32px;
            }
        }
    }

    &_mobile-btn {
        display: none;
        cursor: pointer;

        @include media-to($bp-mobile) {
            display: inline-block;
            position: relative;
            top: -3px;
            width: 34px;
            height: 2px;
            background-color: #fff;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                top: 10px;
            }

            &::after {
                top: -10px;
            }
        }
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}


.choice {
    padding: 100px 0;
    background: url(../assets/img/WhyBackground.png) no-repeat center/cover;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 136px;

        @include media-to($bp-tablet) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    &_content {
        flex: 0 1 540px;

        @include media-to($bp-tablet) {
            flex: 0 1 auto;
            width: 100%;
            text-align: center;
        }
    }

    &_title {
        font-family: "Aleo", serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 24px;

        @include media-to($bp-mobile) {
            font-size: 28px;
        }
    }

    &_text {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.1em;
        color: #fff;
        margin-bottom: 25px;
        opacity: 0.6;
    }

    &_btn {
        @include blue-button;
        margin-top: 15px;
        font-family: "Aleo", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }

    &_images {
        flex: 1;
        position: relative;
        height: 456px;
        max-width: 550px;

        @include media-to($bp-laptop) {
            height: 400px;
        }

        @include media-to($bp-tablet) {
            display: flex;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            gap: 24px;
        }

        @include media-to($bp-mobile) {
            height: 320px;
        }
    }

    &_img {
        width: 350px;
        height: 220px;
        object-fit: cover;
        position: absolute;

        &--top {
            top: 0;
            left: 0;
            z-index: 1;
        }

        &--bottom {
            bottom: 0;
            right: 0px;
            z-index: 2;
        }

        @include media-to($bp-laptop) {
            width: 300px;
            height: 190px;
            position: static;
        }

        @include media-to($bp-tablet) {

            max-width: 50%;
        }

        @include media-to($bp-mobile) {
            width: 250px;
            height: 160px;
        }

        &--bottom {
            @include media-to($bp-laptop) {
                right: 0;
            }
        }
    }
}


.steps {
    background-color: #333;

    @include media-to($bp-tablet) {
        padding: 60px 0;
    }

    &_inner {
        display: flex;
        justify-content: center;
        gap: 25px;
        align-items: flex-start;
        position: relative;
        padding-top: 123px;
        background: url('../assets/img/Line.svg') no-repeat center 60px;
        background-size: 872px 90px;
        background-color: #333;

        @include media-to($bp-laptop) {
            background-size: 70% auto;
        }

        @include media-to($bp-tablet) {
            flex-direction: column;
            align-items: center;
            padding-top: 0;
            background: none;
            gap: 50px;
            background-size: 100% auto;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        flex: 0 0 424px;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding-bottom: 60px;

        @each $name, $filter in $step-colors {
            &-#{$name} {
                .steps_icon img {
                    filter: $filter;
                }
            }
        }

        @include media-to($bp-laptop) {
            flex: 1;
        }

        @include media-to($bp-tablet) {
            flex: 0 0 auto;
            padding-bottom: 0;
            width: 100%;
            max-width: 300px;
        }
    }

    &_icon {
        width: 64px;
        height: 64px;
        object-fit: contain;
        transition: transform 0.3s;
        background-color: #333;

        &:hover {
            transform: scale(1.1);
        }

        @include media-to($bp-tablet) {
            width: 50px;
            height: 50px;
        }

        @include media-to($bp-laptop) {
            font-size: 28px;
        }

        @include media-to($bp-mobile) {
            font-size: 24px;
        }
    }

    &_title {
        font-family: "Aleo", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 111%;
        text-transform: capitalize;
        text-align: center;
        color: #fff;
        margin: 0;
    }
}

.booking {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    &-left .booking_card {
        justify-content: flex-start;
    }

    &-right .booking_card {
        justify-content: flex-end;
    }

    &_card {
        min-height: 600px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &_content {
        background: rgba(35, 35, 35, 0.9);
        padding: 32px;
        max-width: 550px;
        color: #fff;
    }

    &_subtitle {
        @include title-style(20px, 0.1em);
        font-weight: 300;
        display: block;
        opacity: 0.6;
        padding-bottom: 16px;
    }

    &_title {
        @include title-style(20px, 0.2em);
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &_text {
        @include title-style(16px, 0.1em);
        font-weight: 300;
        margin-bottom: 24px;
        display: block;
        opacity: 0.6;
    }

    &_btn {
        @include blue-button;
        padding: 20px 32px;
        width: 213px;
        height: 60px;
        font-family: "Aleo", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
}

.reviews {
    padding: 120px 0;
    background: url('../assets/img/BG.png') no-repeat center/cover;
    text-align: center;
    color: #fff;

    &_title {
        @include title-style(36px, 2px);
        font-family: 'Aleo', serif;
        margin-bottom: 80px;
        line-height: 1.11;
        font-weight: 400;
        text-transform: capitalize;
    }

    &_card {
        display: flex;
        margin: 0 auto;
        background: #333;
        align-items: stretch;
        text-align: left;

        @include media-to($bp-tablet) {
            flex-direction: column;
        }
    }

    &_image {
        flex: 0 0 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &_content {
        padding: 50px 60px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_name {
        @include title-style(20px, 1px);
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &_quote {
        position: relative;
        padding-left: 0;
    }

    &_quote-icon {
        float: left;
        margin-right: 12px;
        margin-top: 5px;
        width: 16px;
        height: auto;
        filter: invert(44%) sepia(69%) saturate(3681%) hue-rotate(216deg) brightness(101%) contrast(100%);
    }

    &_text {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.1em;
        color: #fff;
        opacity: 0.8;
    }
}

.footer {
    background-color: #000;
    padding: 80px 0;
    color: #fff;

    &_inner {
        @include flex-center(column);
        gap: 8px;
    }

    &_logo {
        @include title-style(24px, 4px);
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
    }

    &_subtitle {
        @include title-style(16px, 0.3em);
        font-weight: 300;
        letter-spacing: 4.8px;
        opacity: 0.8;
        margin-bottom: 10px;
    }

    &_socials {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &_social-link {
        transition: opacity 0.3s ease;

        img {
            max-width: 36px;
            max-height: 32px;
            filter: brightness(0) invert(1);
            transition: filter 0.3s ease;
        }

        &:hover {
            filter: $accent-blue-filter;

        }
    }
}