:root {
	--background-blue: #2b81ac;
  --font-family: "Lucida Sans Unicode", sans-serif;
  --second-family: "Weather Icons", sans-serif;
}
body {
    width: 1216px;
    height: 900px;
border: 25px solid #2b81ac;
background: #39c;
font-family: "Lucida Sans Unicode", sans-serif;
font-weight: 400;
font-size: 22px;
text-align: justify;
color: #fff;
box-sizing: border-box;
 padding: 60px 115px; 
margin: 20px auto;

}
h1{
    width: 1166px;
height: 34px;
font-weight: 400;
font-size: 21px;
color: #fff;
text-align: left;
margin: 0 20px auto;
padding: 0;
}
.items {
     height: 588px;
    list-style: none;
    margin: 0 20px auto;
    padding: 0;
    font-size: 0;
    background-color: #ccc;
}
.items li {
    display: inline-block;
    vertical-align: top; 
    font-size: 22px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    height: 147px; 
    border: 1px solid #fff;
    background-color: #3498db;
    color: white;
    line-height: 73px; 
}
.item_full {
    width: 100%;
    height: 147px;
}

.item_half {
    width: 50%;
    height: 147px;
}

.item_quarter {
    width: 25%;
    height: 147px;
}
.Lisabon{
background: #3399CC;
}
