body{
    width: 793px; 
     background: #3b3f45;
   margin: 0 auto;
border: 5px solid white;
}
.header{
        background: #4a4f56;
    text-align: center;
    padding: 12px 12px 19px;
}
h1{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 24px;
color: #ff8984;
margin-bottom: 0;
}
h2{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
color: #ff8984;
}
#header_text{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: #ff8984;
margin-bottom: 0;
}
li{
    list-style: none;
}
.menu{
    padding: 0;
    margin: 0;
}
.menu-item{
width: 534px;
margin-left: 129px;
margin-right: 130px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
color: #fff;
border-top: 2px solid transparent; 
border-bottom: 2px solid transparent;
transition: background-color 0.3s ease, border-color 0.3s ease;
position: relative;
padding: 11px;
}
.menu-item:first-child {
    margin-top: 20px;
}
.menu-item:last-child {
    margin-bottom: 20px;
}
.menu-item:hover {
    border-top: 2px solid white; 
    border-bottom: 2px solid white;
    cursor: pointer;
    color: black;
}
.menu-item:nth-child(odd) {
background: #88839e;
}
.menu-item:nth-child(even) {
background: #7a7593;
}
.point{
    display: inline-block;
}
.checkbox:checked + label {
    text-decoration: line-through;
    background-color: rgb(185, 108, 108);
}
.text{
font-size: 11px;
}
.text::before {
content: "(";
left: 0;
}
.text::after {
    content: ")";
}
.footer{
width: 534px;
padding: 12px;
background: #4a4f56;
margin: 25px 129px 45px 130px;
text-align: center;
}