@use 'vars';
@use 'fonts';

.main {
    width: vars.$main-width;
    margin: 120px auto;
}

.title {
    width: 450px;
    margin: 0 auto 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    &::before,
    &::after {
        content: "";
        border: 1px solid #fc0;
        width: 210px;
        position: absolute;
        bottom: 14px;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &_description {

        color: #898f8f;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    &_main {
        color: #fc0;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 60px;
        margin: 15px 0 40px;
    }

}

.container {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding: 70px 0;

    &::after {
        content: "";
        border: 1px solid #fc0;
        position: absolute;
        bottom: 0px;
        top: 0;
        right: 50%;
    }
}

.side {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.text {
    width: 430px;
    text-align: center;

    &_title {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 36px;
        text-transform: capitalize;
        text-align: center;
        color: #666;

        &::after {
            width: 100px;
            height: 2px;
            background-color: #fc0;
            content: "";
            display: block;
            margin: 30px auto;
        }
    }


    &_subtitle {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        text-transform: capitalize;
        text-align: center;
        color: #666;
    }

    &_info {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
        text-align: center;
        color: #333;
    }

    &_btn {
        border: 1px solid #fc0;
        padding: 5px 10px;
        width: 118px;
        height: 24px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #666;
        background-color: #fff;
    }

    &_divider {
        content: "";
        width: 20px;
        height: 4px;
        background: #fc0;
        margin: 20px auto 25px;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 10px;
            height: 4px;
            background: #fc0;
            display: block;
            position: absolute;
        }

        &::before {
            right: -15px;
        }

        &::after {
            left: -15px;
        }
    }
}

.wraper {
    padding: 15px;
    border: 1px solid #fc0;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        transform: rotate(45deg);
        z-index: 1;

    }

    &_img {
        position: relative;
        z-index: 2;
    }
}